.Rtt-Window {
  font: 'Fira Sans';
  width: 810px;
  height: 320px;
  margin: 10px;
  margin-bottom: 5px;
  justify-content: left;
  align-items: left;
  background-color: rgb(95, 160, 205);
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
}

.Rtt-Title {
  padding-right: 0px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1px;
}

.Rtt-Transcript {
  height: 175px;
  width: 760px;
  border-radius: 5px;
  margin-bottom: 5px;
  background: white;
  border-radius: 2px;
  vertical-align: middle;
  overflow: auto;
  overflow-wrap: anywhere;
  font-weight: normal;
}

.Rtt-ButtonTextOwn {
  width: 120px;
  border-radius: 5px;
  margin: 2px;
  margin-left: 4px;
  margin-right: 7px;
}

.Rtt-BoldText {
  font-weight: bold;
}

.Rtt-Tx {
  width: 760px;
  border-radius: 5px;
  margin: 2px;
}

.Rtt-Tx-Disable {
  width: 760px;
  border-radius: 5px;
  margin: 2px;
  background-color:rgb(179, 179, 179);
}

.Rtt-SendBox {
  width: 760px;
}
